@import 'variables.scss';

.title {
  margin: 0;
}

.selfIntro {
  margin: 0;
  max-width: 425px;
  z-index: 2;
}

.heroImage {
  width: min(65%, 950px);
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.sectionContainer {
  &:not(:first-child) {
    bottom: $bottom-offset;
  }
  position: relative;
}
$numOfElements: 10;
@for $i from 0 to $numOfElements {
  .sectionContainer:nth-child(#{$i}) {
    z-index: $numOfElements - $i;
  }
}

.ctaButton {
  width: 168px;
}
