@import './variables.scss';

@font-face {
  font-family: 'Poppins';
  src: url('../asset/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monotype Corsiva';
  src: url('../asset/Monotype_Corsiva/MTCORSVA.TTF');
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $secondary-color;
}

h1 {
  font-family: 'Monotype Corsiva';
  font-size: 146px;
  color: $primary-color;
  font-weight: normal;
}