$primary-color: #d62828;
$secondary-color: #003049;
$bottom-offset: 25px;
$left-right-base-padding: min(12%, 278px);

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  bottomOffset: $bottom-offset;
  leftRightBasePadding: $left-right-base-padding;
}
